team_id,first_name,last_name,jersey
1,Babe,Ruth,3
1,Mike,Trout,27
1,Lou,Gehrig,4
1,Jackie,Robinson,42
1,Hank,Aaron,44
1,Ted,Williams,9
1,Willie,Mays,24
1,Honus,Wagner,33
1,Ty,Cobb,99
1,Christy,Mathewson,11
1,Walter,Johnson,21
2,Ken,Griffey,24
2,Cal,Ripken,8
2,Tony,Gwynn,19
2,Nolan,Ryan,34
2,Randy,Johnson,51
2,Greg,Maddux,31
2,Pedro,Martinez,45
2,Roger,Clemens,21
2,Ichiro,Suzuki,51
2,Albert,Pujols,5
2,Derek,Jeter,2
